body {
    margin: 0;
    font-family: 'muli', 'Noto Sans CJK KR', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {display: flex; height:100vh;}
#root>.ant-spin-nested-loading {display: flex; width:100%;}
#root>.ant-spin-nested-loading>.ant-spin-container {display: flex; width:100%;}
header {display: flex; flex-direction: row; justify-content: space-between; background:#fff !important; border-bottom: 1px solid #0c254b; padding:0 24px !important;}
header .logo { width:200px; height:64px; background:url(../src/assets/images/logo.png) no-repeat 0 50%;}
aside {padding-top:18px; background:#0c254b !important;}
footer {padding:10px 24px !important; border-top:1px solid #ccc;}

.rowSpace {margin-left: -12px; margin-right: -12px; row-gap: 0px;}
.colSpace {padding-left: 12px; padding-right: 12px;}

.ant-menu.ant-menu-dark {background:#0c254b !important;}
.ant-menu-dark .ant-menu-sub {background:#0c254b !important;}
.ant-layout-sider-children .ant-menu {margin:0 auto;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:55px;}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {background-color: #1c4ab4 !important; }
.ant-layout-sider-children .ant-menu-dark .ant-menu-item {height:55px !important; border-radius: 100%; overflow:hidden; align-items: center;}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon {line-height: 57px !important;}
.ant-menu-dark.ant-menu-horizontal>.ant-menu-item, .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu {background-color: #0c254b !important;}
.site-layout {min-width:1000px; overflow-x: auto; overflow-y: hidden;}
.ant-page-header {background: #fff !important; border-bottom:1px solid #e7e7e7; box-shadow: rgba(185, 185, 185, 0.2) 1px 5px 10px; z-index: 55;}
.ant-layout-content {display: flex; flex:1 1 auto; flex-direction: column;}
.ant-layout-content > div {display: flex; flex: 1 1 auto; flex-direction: column; overflow-y: auto;}
.ant-layout-content > div > h1 {display:none;}
.ant-layout-footer {background:#fff !important; font-size: 11px; text-align: right; text-transform: uppercase;}

.ant-menu-item .ant-menu-item-icon, .ant-menu-item .anticon {font-size: 16px !important;}
.ant-form-horizontal .ant-form-item {margin:0 0 10px;}
.contentWrap {padding:24px; box-sizing: border-box; display: flex; flex:0 1 100%; height:100%; overflow-y: auto; }
.contentWrap-inner {padding:35px 24px; display: flex; flex-direction: column; flex:1 1 auto; background:#fff; box-shadow: rgba(185, 185, 185, 0.2) 1px 5px 10px;}

/* Table list */
.ant-table-wrapper.board-list {border-top:1px solid #ccc; display: flex; flex-direction: column; flex: 1 1 auto;}
.ant-table-wrapper.board-list .ant-spin-nested-loading {display: flex; flex-direction: column; flex: 1 1 auto;}
.ant-table-wrapper.board-list .ant-spin-container {display: flex; flex: 1 1 auto; flex-direction: column;}
.ant-table-wrapper.board-list .ant-table {display: flex; flex-direction: column; flex: 1 1 auto;}
.ant-table-wrapper.board-list .ant-table-container {display: flex; flex-direction: column; flex: 1 1 auto; border-bottom:1px solid #e3e3e3;}
.ant-table-wrapper.board-list div.ant-table-body {min-height: 470px !important; max-height: 508px !important; overflow-y: auto !important;}
.ant-table-empty {display: flex !important; flex: 1 1 auto !important;}
.ant-table-empty .ant-table-content {display: flex !important; flex: 1 1 auto !important;}
.ant-table-empty div.ant-table-body {display: flex; flex:1 1 auto; min-height: inherit !important; max-height: inherit !important;}
.ant-table-empty .ant-table-tbody > tr > td {border-bottom: none !important;}
/* .ant-table-tbody>tr>td:last-child {border-bottom:none !important;} */


/* Matrix  */
.MatrixGridArea {display:flex; flex-direction: column; flex:1 1 auto; overflow: auto;}
.MatrixGrid {display:flex; flex-direction: column; flex:1 1 auto; border: 1px solid #d8d8d8; border-top:2px solid #0c254b;}
.MatrixHeader {display: flex; flex-direction: row; flex: 1 1 auto; max-height:70px; min-height: 30px;}
.MatrixHeader > div {display:flex; width:100%; border-right:1px solid #777; border-bottom:1px solid #aaa; justify-content: center; align-items: center; background:#dbeefa ; color:#111; font-weight: 700;}
.MatrixHeader div.PartHeader:first-child {background:#acc8f1;}
.MatrixHeader .HeaderRow {display: flex; flex-direction: column;}
.MatrixHeader .HeaderRow .RowHead {display: flex; flex:1 1 auto; justify-content: center; align-items: center; width:100%; border-bottom: 1px solid #777;}
.MatrixHeader .HeaderRow .RowSub {display: flex; flex-direction: row; flex:1 1 auto; width:100%; background:#f6f7eb;}
.MatrixHeader .HeaderRow .RowSub div {display: flex; justify-content: center; align-items: center; width:100%; border-right: 1px solid #777;}
.MatrixHeader .HeaderRow .RowSub div:last-child {border-right:none;}
.MatrixHeader > div:last-child, .MatrixRow > div:last-child {border-right:none;}
.MatrixBody {display: flex; flex-direction: column; flex:1 1 auto}
.MatrixRow {display: flex; flex-direction: row; flex:1 1 auto; border-bottom:1px solid #d8d8d8;}
.MatrixRow:last-child {border-bottom: none;}
.MatrixRow > div {display: flex; width:100%; min-height: 30px; border-right:1px solid #d8d8d8; justify-content: center; align-items: center; color:#888; font-weight: 300;}
.MatrixRow > div:first-child {background:#f3f3f3; color:#111;}
.MatrixHeader div.PartHeader:first-child, .MatrixRow > div:first-child {min-width:130px;}
.MatrixRow .BodyRow {display: flex; flex-direction: row;}
.MatrixRow .BodyRow div {display: flex; flex: 1 1 auto; justify-content: center; align-items: center; width:100%; height: 100%; border-right:1px solid #d8d8d8;}
.MatrixRow .BodyRow div:last-child {border-right:none;}